<template>
  <div class="container">
    <h1 class="text-center font-weight-bold p-3 border-bottom">
      Cadastro de Arquivo
    </h1>
    <form>
      <div class="form-group">
        <label for="nome">Arquivo</label>
        <div class="custom-file">
          <input
            type="file"
            @change="selecionarArquivo"
            class="custom-file-input"
            id="inputGroupFile04"
          />
          <label class="custom-file-label" for="inputGroupFile04">{{
            mensagemSeletor
          }}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="nome">Usuário de Cadastro</label>
        <select class="form-control" v-model="usuarioCadastro">
          <option
            v-for="usuario of usuarios"
            :key="usuario.id"
            :value="usuario"
            >{{ usuario.nome }}</option
          >
        </select>
      </div>
      <div class="form-group mt-2">
        <label for="nome">Adicionar Usuários Vinculados</label>
        <div class="row ml-1">
          <select class="form-control col-10" v-model="usuario">
            <option
              v-for="usuario of usuarios"
              :key="usuario.id"
              :value="usuario"
              >{{ usuario.nome }}</option
            >
          </select>
          <div class="d-flex w-100 justify-content-end col-2">
            <button
              col-2
              type="button"
              @click="adicionarUsuario()"
              class="btn btn-secondary w-100"
            >
              Adicionar
            </button>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-secondary pt-3 pb-3">
        <h6 class="font-weight-bold text-white">Usuários Vinculados</h6>
      </div>
      <table class="table">
        <thead class>
          <tr>
            <th>Código</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="usuario of usuariosVinculados" :key="usuario.id">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
          </tr>
        </tbody>
      </table>
    </form>
    <form>
      <div class="d-flex justify-content-end mt-3 mb-5">
        <button @click="salvar()" type="button" class="btn btn-primary">
          Salvar
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import Usuario from "../services/usuarios";
import Arquivo from "../services/arquivos";

export default {
  data() {
    return {
      mensagemSeletor: "Escolha o arquivo",
      arquivoSelecionado: null,
      usuarios: [],
      usuariosVinculados: [],
      usuario: {},
      usuarioCadastro: {}
    };
  },

  mounted() {
    this.listarUsuarios();
  },

  methods: {
    selecionarArquivo(event) {
      if (event.target.files[0]) {
        this.mensagemSeletor = event.target.files[0].name;
        this.arquivoSelecionado = event.target.files[0];
      } else {
        this.mensagemSeletor = "Escolha o arquivo";
        this.arquivoSelecionado = null;
      }
    },

    salvar() {
      var arquivoFormData = new FormData();
      arquivoFormData.set("usuarioCadastro", this.usuarioCadastro.id);
      arquivoFormData.append("arquivo", this.arquivoSelecionado);
      this.usuariosVinculados.forEach(usuario => {
        arquivoFormData.append("usuarios[]", usuario.id);
      });

      Arquivo.salvar(arquivoFormData)
        .then(() => {
          this.$swal("Salvo com sucesso", "", "success");
          this.arquivoSelecionado = null;
          this.usuariosVinculados = [];
          this.usuario = {};
          this.usuarioCadastro = {};
          this.mensagemSeletor = "Escolha o arquivo";
        })
        .catch(error => {
          this.$swal("Erro ao salvar", error.response.data.detail, "error");
        });
    },

    listarUsuarios() {
      Usuario.listar().then(response => {
        this.usuarios = response.data._embedded.usuarios;
      });
    },

    adicionarUsuario() {
      if (!this.usuario) return false;
      if (this.usuariosVinculados.indexOf(this.usuario) != -1) {
        this.usuario = null;
        return false;
      }

      this.usuariosVinculados.push(Object.assign(this.usuario));
      this.usuario = null;
    }
  }
};
</script>

<style></style>
