<template>
  <div class="container">
    <h1 class="text-center font-weight-bold p-3 border-bottom">DashBoard</h1>
    <table class="table">
      <thead class>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Tamanho</th>
          <th>Usuário</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="arquivo of arquivos" :key="arquivo.id">
          <td>{{ arquivo.id }}</td>
          <td>{{ arquivo.nome }}</td>
          <td>{{ converterBytesParaTamanho(arquivo.tamanho) }}</td>
          <td>{{ arquivo._embedded.usuarioCadastro.nome }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info p-1 mr-2"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              @click="visualizar(arquivo)"
            >
              Visualizar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100 text-center">
      <Paginacao :source="paginacao" @navigate="navigate"></Paginacao>
    </div>

    <ModalDetalheArquivo
      class="modal"
      v-bind:arquivo="arquivo"
    ></ModalDetalheArquivo>
  </div>
</template>

<script>
import Arquivo from "../services/arquivos";
import Conversao from "../util/conversao";
import ModalDetalheArquivo from "./ModalDetalheArquivo";
import Paginacao from "./Paginacao";

export default {
  components: {
    ModalDetalheArquivo,
    Paginacao
  },
  data() {
    return {
      pagina: "",
      arquivos: [],
      arquivo: {},
      paginacao: {}
    };
  },

  mounted() {
    this.listar();
  },

  methods: {
    listar() {
      Arquivo.listar(this.pagina).then(response => {
        this.arquivos = response.data._embedded.arquivos;
        this.paginacao = response.data;
      });
    },

    converterBytesParaTamanho(bytes) {
      return Conversao.converterBytesParaTamanho(bytes);
    },

    visualizar(arquivo) {
      this.arquivo = arquivo;
    },

    navigate(page) {
      this.pagina = "?page=" + page;
      this.listar();
    }
  }
};
</script>

<style></style>
