<template>
  <div class="container">
    <h1 class="text-center font-weight-bold p-3 border-bottom">Grupos</h1>
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o nome do grupo"
          v-model="grupo.nome"
        />
      </div>

      <div class="d-flex justify-content-end pb-3 border-bottom">
        <button type="button" @click="salvar()" class="btn btn-primary">
          Salvar
        </button>
      </div>
    </form>

    <table class="table">
      <thead class>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="grupo of grupos" :key="grupo.id">
          <td>{{ grupo.id }}</td>
          <td>{{ grupo.nome }}</td>
          <td>
            <button
              v-on:click="editar(grupo)"
              type="button"
              class="btn btn-info p-1 mr-2"
            >
              Editar
            </button>
            <button
              v-on:click="excluir(grupo)"
              type="button"
              class="btn btn-danger p-1"
            >
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Grupo from "../services/grupos";

export default {
  data() {
    return {
      grupo: {
        id: null,
        nome: ""
      },
      grupos: []
    };
  },

  mounted() {
    this.listar();
  },

  methods: {
    listar() {
      Grupo.listar().then(response => {
        this.grupos = response.data._embedded.grupos;
      });
    },

    salvar() {
      if (!this.grupo.id) {
        Grupo.salvar(this.grupo)
          .then(() => {
            this.$swal("Salvo com sucesso", "", "success");
            this.limparGrupo();
            this.listar();
          })
          .catch(error => {
            this.$swal("Erro ao salvar", error.response.data.detail, "error");
          });
      } else {
        Grupo.alterar(this.grupo)
          .then(() => {
            this.$swal("Salvo com sucesso", "", "success");
            this.limparGrupo();
            this.listar();
          })
          .catch(error => {
            this.$swal("Erro ao salvar", error.response.data.detail, "error");
          });
      }
    },

    editar(grupo) {
      this.grupo = grupo;
    },

    excluir(grupo) {
      Grupo.excluir(grupo)
        .then(() => {
          this.$swal("Excluído com sucesso", "", "success");
          this.limparGrupo();
          this.listar();
        })
        .catch(error => {
          this.$swal("Erro ao excluir", error.response.data.detail, "error");
        });
    },

    limparGrupo() {
      this.grupo = {
        id: null,
        nome: ""
      };
    }
  }
};
</script>

<style></style>
