<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Gerenciador de Arquivos</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grupos">Grupos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/arquivos">Arquivos</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
