<template>
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title text-white">Detalhes do Arquivo</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Fechar"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <table class="table">
              <thead class>
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Tamanho</th>
                  <th>Usuário de Cadastro</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ arquivo.id }}</td>
                  <td>{{ arquivo.nome }}</td>
                  <td>{{ converterBytesParaTamanho(arquivo.tamanho) }}</td>
                  <td>
                    {{
                      arquivo._embedded
                        ? arquivo._embedded.usuarioCadastro.nome
                        : ""
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="container-fluid bg-secondary">
              <h6 class="font-weight-bold pt-3 pb-3 text-white">
                Usuários Vinculados
              </h6>
            </div>

            <table class="table">
              <thead class>
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="usuario of arquivo.usuarios" :key="usuario.id">
                  <td>{{ usuario.id }}</td>
                  <td>{{ usuario.nome }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <a target="_blank" :href="downloadLink" class="btn btn-warning"
            >Download</a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Conversao from "../util/conversao";
import api from "../services/api";

export default {
  data() {
    return {
      downloadLink: ""
    };
  },

  props: {
    arquivo: Object
  },

  methods: {
    converterBytesParaTamanho(bytes) {
      return Conversao.converterBytesParaTamanho(bytes);
    }
  },

  watch: {
    arquivo: function(arquivoLink) {
      this.downloadLink =
        api.defaults.baseURL + "arquivos/download/" + arquivoLink.id;
    }
  }
};
</script>

<style></style>
