<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" :class="{ disabled: source.page == 1 }">
        <a class="page-link" @click="navigate($event, source.page - 1)" href="#"
          >Anterior</a
        >
      </li>
      <li
        v-for="page in pages"
        :key="page"
        class="page-item"
        :class="{ active: source.page == page }"
      >
        <a class="page-link" @click="navigate($event, page)" href="#">{{
          page
        }}</a>
      </li>
      <li
        class="page-item"
        :class="{ disabled: source.page == source.page_count }"
      >
        <a class="page-link" @click="navigate($event, source.page + 1)" href="#"
          >Próxima</a
        >
      </li>
    </ul>
  </nav>
</template>

<script>
import { range } from "lodash";

export default {
  props: {
    source: {}
  },

  data() {
    return {
      pages: []
    };
  },

  watch: {
    source() {
      this.pages = range(1, this.source.page_count + 1);
    }
  },

  methods: {
    navigate(event, page) {
      event.preventDefault();
      this.$emit("navigate", page);
    }
  }
};
</script>

<style></style>
