<template>
  <div class="container">
    <h1 class="text-center font-weight-bold p-3 border-bottom">Usuários</h1>
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o nome do usuário"
          v-model="usuario.nome"
        />
      </div>
      <div class="form-group">
        <label for="nome">E-mail</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o e-mail do usuário"
          v-model="usuario.email"
        />
      </div>
      <div class="form-group">
        <label for="nome">Grupo</label>
        <select class="form-control" v-model="grupo">
          <option v-for="grupo of grupos" :key="grupo.id" :value="grupo">{{
            grupo.nome
          }}</option>
        </select>
      </div>

      <div class="d-flex justify-content-end pb-3 border-bottom">
        <button type="button" @click="salvar()" class="btn btn-primary">
          Salvar
        </button>
      </div>
    </form>

    <table class="table">
      <thead class>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Grupo</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="usuario of usuarios" :key="usuario.id">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario._embedded.grupo.nome }}</td>
          <td>
            <button
              v-on:click="editar(usuario)"
              type="button"
              class="btn btn-info p-1 mr-2"
            >
              Editar
            </button>
            <button
              v-on:click="excluir(usuario)"
              type="button"
              class="btn btn-danger p-1"
            >
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Usuario from "../services/usuarios";
import Grupo from "../services/grupos";

export default {
  data() {
    return {
      usuario: {
        id: null,
        nome: "",
        email: "",
        grupo: null
      },
      grupo: {
        id: null,
        nome: ""
      },
      usuarios: [],
      grupos: []
    };
  },

  mounted() {
    this.listar();
    this.listarGrupo();
  },

  methods: {
    listar() {
      Usuario.listar().then(response => {
        this.usuarios = response.data._embedded.usuarios;
      });
    },

    listarGrupo() {
      Grupo.listar().then(response => {
        this.grupos = response.data._embedded.grupos;
      });
    },

    salvar() {
      this.usuario.grupo = this.grupo.id;
      if (!this.usuario.id) {
        Usuario.salvar(this.usuario)
          .then(() => {
            this.$swal("Salvo com sucesso", "", "success");
            this.limparUsuario();
            this.limparGrupo();
            this.listar();
          })
          .catch(error => {
            this.$swal("Erro ao salvar", error.response.data.detail, "error");
          });
      } else {
        Usuario.alterar(this.usuario)
          .then(() => {
            this.$swal("Salvo com sucesso", "", "success");
            this.limparUsuario();
            this.limparGrupo();
            this.listar();
          })
          .catch(error => {
            this.$swal("Erro ao salvar", error.response.data.detail, "error");
          });
      }
    },

    editar(usuario) {
      this.usuario = {
        id: usuario.id,
        nome: usuario.nome,
        email: usuario.email,
        grupo: usuario._embedded.grupo.id
      };
      this.grupo = this.grupos.find(
        grupo => grupo.id === usuario._embedded.grupo.id
      );
    },

    excluir(usuario) {
      Usuario.excluir(usuario)
        .then(() => {
          this.$swal("Excluído com sucesso", "", "success");
          this.limparUsuario();
          this.limparGrupo();
          this.listar();
        })
        .catch(error => {
          this.$swal("Erro ao excluir", error.response.data.detail, "error");
        });
    },

    limparUsuario() {
      this.usuario = {
        id: null,
        nome: "",
        email: "",
        grupo: null
      };
    },

    limparGrupo() {
      this.grupo = {
        id: null,
        nome: ""
      };
    }
  }
};
</script>

<style></style>
